#Facilities{
    margin-left: 100px;
    margin-top: 40px;
    color: rgb(33, 33, 148);
    
}
#Mosque{
    text-align: center;
    margin-top: 150PX;
    color: rgb(33, 33, 148);
}
#mos-bg{
    background-color: rgb(50, 54, 54);

}